In [1]:
import pandas as pd

In [2]:
#!pip3 install xlrd

In [3]:
papel = 'VALE3'
file_loc = './Balancos_xls/%s_31.12.2020.xls' % papel

## Leitura da sheet Balanço Patrimonial

In [8]:
balanco_patrimonial_df = pd.read_excel(file_loc, sheet_name='Bal. Patrim.', skiprows=[0], na_values=['NA'])
balanco_patrimonial_df.head()

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

,Unnamed: 0,31/12/2020,30/09/2020,30/06/2020,31/03/2020,31/12/2019,30/09/2019,30/06/2019,31/03/2019,31/12/2018,...,31/12/2012,30/09/2012,30/06/2012,31/03/2012,31/12/2011,30/09/2011,30/06/2011,31/03/2011,31/12/2010,30/09/2010
0,Ativo Total,4.781295e+08,4.511396e+08,4.553035e+08,4.397070e+08,3.696703e+08,3.910211e+08,3.668695e+08,3.668755e+08,3.417149e+08,...,2.669216e+08,2.722651e+08,2.535014e+08,2.425681e+08,2.417831e+08,2.390973e+08,2.222356e+08,2.173202e+08,2.146621e+08,2.099394e+08
1,Ativo Circulante,1.268052e+08,9.895714e+07,1.111953e+08,1.036823e+08,6.869754e+07,7.698567e+07,6.098909e+07,5.874224e+07,5.925612e+07,...,4.603962e+07,5.060792e+07,4.120553e+07,4.079405e+07,4.209521e+07,5.042207e+07,5.061776e+07,4.656899e+07,5.426783e+07,5.409545e+07
2,Caixa e Equivalentes de Caixa,7.008557e+07,4.988939e+07,6.633314e+07,6.128420e+07,2.962709e+07,3.564444e+07,2.317618e+07,1.951294e+07,2.241255e+07,...,1.191772e+07,1.610509e+07,8.117669e+06,9.010806e+06,7.457928e+06,1.467449e+07,2.132336e+07,1.913888e+07,1.346896e+07,1.694948e+07
3,Aplicações Financeiras,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.387283e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,Contas a Receber,2.723388e+07,1.873636e+07,1.586758e+07,1.231436e+07,1.148328e+07,1.076405e+07,1.269231e+07,1.072988e+07,1.166997e+07,...,1.467087e+07,1.402087e+07,1.467020e+07,1.432474e+07,1.630472e+07,1.664507e+07,1.335041e+07,1.281563e+07,1.405247e+07,1.334404e+07

In [9]:
balanco_patrimonial_df = balanco_patrimonial_df.rename(columns={list(balanco_patrimonial_df)[0]: "Tipo"})
balanco_patrimonial_df.head()

,Tipo,31/12/2020,30/09/2020,30/06/2020,31/03/2020,31/12/2019,30/09/2019,30/06/2019,31/03/2019,31/12/2018,...,31/12/2012,30/09/2012,30/06/2012,31/03/2012,31/12/2011,30/09/2011,30/06/2011,31/03/2011,31/12/2010,30/09/2010
0,Ativo Total,4.781295e+08,4.511396e+08,4.553035e+08,4.397070e+08,3.696703e+08,3.910211e+08,3.668695e+08,3.668755e+08,3.417149e+08,...,2.669216e+08,2.722651e+08,2.535014e+08,2.425681e+08,2.417831e+08,2.390973e+08,2.222356e+08,2.173202e+08,2.146621e+08,2.099394e+08
1,Ativo Circulante,1.268052e+08,9.895714e+07,1.111953e+08,1.036823e+08,6.869754e+07,7.698567e+07,6.098909e+07,5.874224e+07,5.925612e+07,...,4.603962e+07,5.060792e+07,4.120553e+07,4.079405e+07,4.209521e+07,5.042207e+07,5.061776e+07,4.656899e+07,5.426783e+07,5.409545e+07
2,Caixa e Equivalentes de Caixa,7.008557e+07,4.988939e+07,6.633314e+07,6.128420e+07,2.962709e+07,3.564444e+07,2.317618e+07,1.951294e+07,2.241255e+07,...,1.191772e+07,1.610509e+07,8.117669e+06,9.010806e+06,7.457928e+06,1.467449e+07,2.132336e+07,1.913888e+07,1.346896e+07,1.694948e+07
3,Aplicações Financeiras,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.387283e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,Contas a Receber,2.723388e+07,1.873636e+07,1.586758e+07,1.231436e+07,1.148328e+07,1.076405e+07,1.269231e+07,1.072988e+07,1.166997e+07,...,1.467087e+07,1.402087e+07,1.467020e+07,1.432474e+07,1.630472e+07,1.664507e+07,1.335041e+07,1.281563e+07,1.405247e+07,1.334404e+07

## Leitura da sheet Demonstrativo de Resultados

In [10]:
demonstrativo_resultado_df = pd.read_excel(file_loc, sheet_name='Dem. Result.', skiprows=[0], na_values=['NA'])
demonstrativo_resultado_df = demonstrativo_resultado_df.rename(columns={list(demonstrativo_resultado_df)[0]:"Tipo"})

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [11]:
demonstrativo_resultado_df.head()

,Tipo,31/12/2020,30/09/2020,30/06/2020,31/03/2020,31/12/2019,30/09/2019,30/06/2019,31/03/2019,31/12/2018,...,31/12/2012,30/09/2012,30/06/2012,31/03/2012,31/12/2011,30/09/2011,30/06/2011,31/03/2011,31/12/2010,30/09/2010
0,Receita Bruta de Vendas e/ou Serviços,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.637623e+07
1,Deduções da Receita Bruta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6.979080e+05
2,Receita Líquida de Vendas e/ou Serviços,7.893824e+07,5.790575e+07,4.043384e+07,3.125093e+07,4.101872e+07,4.066466e+07,3.600495e+07,3.095159e+07,3.745516e+07,...,2.875575e+07,2.175966e+07,2.340489e+07,1.959117e+07,2.713768e+07,2.800919e+07,2.506325e+07,2.298528e+07,2.649325e+07,2.567832e+07
3,Custo de Bens e/ou Serviços Vendidos,-3.079271e+07,-2.589313e+07,-2.266706e+07,-1.921459e+07,-2.317600e+07,-2.262754e+07,-2.028210e+07,-1.774993e+07,-2.194086e+07,...,-1.791277e+07,-1.236494e+07,-1.167029e+07,-1.004938e+07,-1.113503e+07,-1.044323e+07,-9.396840e+06,-9.513771e+06,-1.038458e+07,-9.003915e+06
4,Resultado Bruto,4.814554e+07,3.201261e+07,1.776677e+07,1.203634e+07,1.784271e+07,1.803713e+07,1.572286e+07,1.320166e+07,1.551431e+07,...,1.084298e+07,9.394723e+06,1.173460e+07,9.541791e+06,1.600265e+07,1.756596e+07,1.566641e+07,1.347151e+07,1.610867e+07,1.667441e+07

# Acesso ao HDFS server (Write and Read)
## Criando um Spark Session

In [15]:
from pyspark.sql import SparkSession
sparkSession = SparkSession.builder.appName("write-read-balancos-dre-xls-hdfs").getOrCreate()

## Write Spark DataFrame do Balanço Patrimonial

In [16]:
balanco_patrimonial_label = list(balanco_patrimonial_df.columns)

In [17]:
balanco_patrimonial_dados = list(map(lambda lista: tuple(lista), balanco_patrimonial_df.values))

In [18]:
df = sparkSession.createDataFrame(balanco_patrimonial_dados, balanco_patrimonial_label)
df

DataFrame[Tipo: string, 31/12/2020: double, 30/09/2020: double, 30/06/2020: double, 31/03/2020: double, 31/12/2019: double, 30/09/2019: double, 30/06/2019: double, 31/03/2019: double, 31/12/2018: double, 30/09/2018: double, 30/06/2018: double, 31/03/2018: double, 31/12/2017: double, 30/09/2017: double, 30/06/2017: double, 31/03/2017: double, 31/12/2016: double, 30/09/2016: double, 30/06/2016: double, 31/03/2016: double, 31/12/2015: double, 30/09/2015: double, 30/06/2015: double, 31/03/2015: double, 31/12/2014: double, 30/09/2014: double, 30/06/2014: double, 31/03/2014: double, 31/12/2013: double, 30/09/2013: double, 30/06/2013: double, 31/03/2013: double, 31/12/2012: double, 30/09/2012: double, 30/06/2012: double, 31/03/2012: double, 31/12/2011: double, 30/09/2011: double, 30/06/2011: double, 31/03/2011: double, 31/12/2010: double, 30/09/2010: double]

In [ ]:
df.write.save('hdfs://172.17.177.40:9000/user/hadoopuser/fundamentus/balanco/vale3', format='parquet', mode='append')

In [ ]:
df_load = sparkSession.read.format('parquet').load('hdfs://172.17.177.40:9000/user/hadoopuser/fundamentus/balanco/vale3')

In [ ]:
df_load.show()

In [ ]:
df_load.toPandas()

## Write Spark DataFrame do Demonstrativo de Resultado

In [ ]:
demonstrativo_resultado_label = list(demonstrativo_resultado_df.columns)

In [77]:
demonstrativo_resultado_dados = list(map(lambda lista: tuple(lista), demonstrativo_resultado_df.values))

In [ ]:
df.write.save('hdfs://172.17.177.40:9000/user/hadoopuser/fundamentus/demonstrativo_resultado/vale3', format='parquet', mode='append')

In [ ]:
df_load = sparkSession.read.format('parquet').load('hdfs://172.17.177.40:9000/user/hadoopuser/fundamentus/demonstrativo_resultado/vale3')

In [ ]:
df_load.show()

In [ ]:
df_load.toPandas()